.vehControlMain{
	width: 200px;
	height: 330px;
	background: #30353b;
	position: fixed;
	bottom: 50px;
	right: 50px;
}
.vehControlUpContent{
	background: #131720;
	height: 10%;
	display: flex;
    align-items: center;
    justify-content: center;
	border-bottom: 2px solid #838b9a;
}
.vehControlUpContent p{
	color: white;
}
.vehControlMiddleContent{
	background: #30353b;
	height: 70%;
}
.vehControlDownContent{
	background: #161920;
	border-top: 2px solid #7f8083;
	height: 20%;
	position: relative;
}
.vehControlDownContentLedge{
	width: 50px;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
    border-bottom: 20px solid #7f8083;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0px);
}
.vehControlDownContentLedge::after{
	content: " ";
    /* background: #25262b; */
    width: 46px;
    margin-left: -11px;
    margin-top: 2px;
    position: absolute;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
    border-bottom: 18px solid #24252a;
}
.vehControlDownContentLedgeMenu {
	border-bottom: 8px double #3c3d42;
    border-top: 3px solid #3c3d42;
    margin-top: 5px;
    padding-top: 2px;
    width: 19px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
	cursor: pointer;
}
.vehControlDownContent ul{
	height: 100%;
}
.vehControlDownContent ul li{
	display: inline-block;
	color: #585860;
	border-right: 1px solid #262930;
	width: 23%;
	height: 100%;
	position: relative;
	text-align: center;
	user-select: none;
}
.vehControlDownContent ul li:hover{
	color: white;
	
}
.vehControlDownContent ul li>div{
	position: absolute;
	left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
.vehControlDownContent ul li:last-child{
	border-right: none;
}
.vehControlDownContent ul li>div i{
	margin-bottom: 10px;
}
.vehControlDownContent ul li>div p{
	font-size: 8px;
}